<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link text-color" routerLink="/seguros" routerLinkActive=active>Cuenta</a>
  </li>
</ul>

<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-color" routerLink="/seguros" routerLinkActive=active>Seguros</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link  text-color" routerLink="/contacto" routerLinkActive=active>Contacto</a>
  </li>
  <li class="nav-item">
      <a class="nav-link  text-color" routerLink="/home" routerLinkActive=active>Bicitours</a>
    </li>
  <li class="nav-item">
    <a class="nav-link  text-color" routerLink="#" routerLinkActive=active>Tours</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-color" routerLink="#" routerLinkActive=active>Blogs</a>
  </li>
</ul>

<!--
<nav class="navbar navbar-expand-lg navbar-light sticky-top" >
    <a class="navbar-brand" href="/home">Bicitours</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/seguros">Seguros</a>
        </li>
      </ul>
    </div>
  </nav>
-->