<div class="container p">

  <div class="row" id="row-cards">
    <div *ngFor="let e of listaSeguros;index as i " class="col-10 offset-1 card p-2 main-card ">
      <img src={{listaImagenes[i]}} class="card-img-top" alt="...">
      <div class="card-body text-center">
        <p>
          <button class="btn btn-dark" type="button" data-toggle="modal" [attr.data-target]="'#prueba'+i"
            aria-expanded="true" aria-controls="prueba">{{e.tipo}}</button>
        </p>


        <!--Modal-->
        <div class="modal fade" [attr.id]="'prueba'+i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{e.tipo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card card-body card-modal">
                  <h5>Caracteristicas</h5>
                  {{e.caracteristicas}}
                </div>
                <div class="card card-body card-modal">
                    <h5>Condiciones</h5>
                    {{e.condiciones}}
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal -->
      </div>
    </div>
  </div>
</div>